<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            color: chocolate;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div>
        <div th:if="${booklist.isEmpty()}">
            <p >No Matching books found. Enter a valid book</p>
            <a href="/">Search Again</a>
        </div>

        <div th:unless="${booklist.isEmpty()}">
            <div class="book" th:each="book : ${booklist}">
                <p th:text="${book.title}"></p>
                <p th:text="${book.getDescription()}"></p>
                <img th:src="${book.getImage()}" width="500px" height="500px" alt="Book Image">

                <a th:unless="" href="@{/book/{id}(id = ${book.getId()})}">View Book</a>
            </div>
        </div>
    </div>
</body>
</html>